QWidget{
    background:#202124;
    color:white;
    font-size:11pt;
}

QPushButton{
    background:#2d89ef;
    border:none;
    padding:8px;
    border-radius:6px;
}

QPushButton:hover{
    background:#4aa3ff;
}

QLineEdit{
    background:#2b2b2b;
    border:1px solid gray;
    padding:5px;
}

QComboBox{
    background:#2b2b2b;
}

QTextEdit{
    background:#111;
}

QProgressBar{
    border:1px solid gray;
}

QProgressBar::chunk{
    background:#2ecc71;
}